<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ApiTechTests" verbose="10">
  <test name="Validate TradeME api Response body">
   <parameter name = "statusCode" value="200"/>
   <parameter name = "statusLine" value="HTTP/1.1 200 OK"/>
   <parameter name = "nameKey" value="Name"/>
   <parameter name = "nameAssertValue" value="Carbon credits"/>
   <parameter name = "relistKey" value="CanRelist"/>
   <parameter name = "relistAssertValue" value="true"/>
   <parameter name = "promotionNameKey" value="Promotions.Name"/>
   <parameter name = "promotionNameAssertValue" value="Gallery"/>
   <parameter name = "promotionDescKey" value="Promotions.Description"/>
   <parameter name = "promotionDescAssertValue" value="Good position in category"/>
      <classes>
      <class name="apiTests.TechTests"/>
      </classes>
  </test>
</suite>
